<div class="ui-g body-content">
    <div class="ui-g-2">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Places" [selected]="true">
                <a class="link-button" routerLink="planets" routerLinkActive="active">Planets</a>
                <br/><br/>
                <a class="link-button" routerLink="cities" routerLinkActive="active">Cities</a>
                <br/><br/>
                <a class="link-button" routerLink="stations" routerLinkActive="active">Stations</a>
            </p-accordionTab>
            <p-accordionTab header="Vessels" [selected]="true">
                <a class="link-button" routerLink="vessels" routerLinkActive="active">Vessels</a>
            </p-accordionTab>
            <p-accordionTab header="People" [selected]="true">
                <a class="link-button" routerLink="characters" routerLinkActive="active">Characters</a>
            </p-accordionTab>
            <p-accordionTab header="Organizations" [selected]="true">
                <a class="link-button" routerLink="orgs" routerLinkActive="active">Places</a>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="ui-g-3">
        <p-dataTable [value]="planets" [(selection)]="selectedPlace">
            <p-column field="Name" header="Planets" (click)="selectPlace(planet)">
                <template let-planet="rowData" pTemplate type="body">
                    <a class="link-button" (click)="selectPlace(planet)">{{planet.Name}}</a>                
                </template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="ui-g-7">
        <div class="dm-form" *ngIf="selectedPlace" [ngSwitch]="loading" >
            <div class="ui-g" *ngSwitchCase="false">
                <div class="ui-g-12">
                    <md-input placeholder="First name" [(ngModel)]="selectedPlace.Name"></md-input>
                    <input type="text" pInputText placeholder="name" class="ui-inputtext ui-fluid dm-input" [(ngModel)]="selectedPlace.Name"/>
                </div>
                <div class="ui-g-12">
                    <textarea pInputTextarea class="ui-inputtextarea ui-fluid dm-input dm-input-textarea" placeholder="description" [(ngModel)]="selectedPlace.Name"></textarea>
                </div>
                <div class="ui-g-12">
                    <textarea pInputTextarea class="ui-inputtextarea ui-fluid dm-input dm-input-textarea-small" placeholder="summary" [(ngModel)]="selectedPlace.Summary"></textarea>
                </div>
                <div class="ui-g-12">
                    <label>Affiliation:</label>&nbsp;<p-dropdown [options]="affiliations" [(ngModel)]="selectedAffiliation"></p-dropdown>
                </div>
                <div class="ui-g-12">
                    <div style="text-align:right;">
                        <button type="button" md-raised-button color="primary">Save</button>
                    </div>
                </div>
            </div>
            <div class="ui-g-12" *ngSwitchCase="true">
                <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
                <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                <!--<loading-indicator></loading-indicator>-->
            </div>
        </div>
    </div>
</div>