<div class="ui-g">
    <div class="ui-g-12">
        <md-input placeholder="First name" [(ngModel)]="selectedPlace.Name"></md-input>
        <input type="text" pInputText placeholder="name" class="ui-inputtext ui-fluid dm-input" [(ngModel)]="selectedPlace.Name"/>
    </div>
    <div class="ui-g-12">
        <textarea pInputTextarea class="ui-inputtextarea ui-fluid dm-input dm-input-textarea" placeholder="description" [(ngModel)]="selectedPlace.Name"></textarea>
    </div>
    <div class="ui-g-12">
        <textarea pInputTextarea class="ui-inputtextarea ui-fluid dm-input dm-input-textarea-small" placeholder="summary" [(ngModel)]="selectedPlace.Summary"></textarea>
    </div>
    <div class="ui-g-12">
        <label>HabHyg:</label>&nbsp;<p-dropdown [options]="habhygChoices" [(ngModel)]="selectedAffiliation"></p-dropdown>
    </div>
    <div class="ui-g-12">
        <label>Affiliation:</label>&nbsp;<p-dropdown [options]="affiliations" [(ngModel)]="selectedAffiliation"></p-dropdown>
    </div>
    <div class="ui-g-12" *ngIf="selectedPlace.Type !== Planet">
        What planet ya ohn yo?
    </div>
    <div class="ui-g-12">
        <div style="text-align:right;">
            <button type="button" md-raised-button color="primary">Save</button>
        </div>
    </div>
</div>