<div class="ui-g">
    <div class="ui-g-3">
        <dm-bcl-nav></dm-bcl-nav>
    </div>
    <div class="ui-g-9">
        <div style="text-align:center;"><h2>Places - {{placeTypeName}}</h2></div>
        <div class="ui-g" *ngIf="loading">
            <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
        </div>
        <div *ngIf="!(loading)">
            <p-dataTable [value]="places">
                <p-column field="" header="">
                    <template let-affiliation="rowData" pTemplate type="body">
                        <a class="link-button" (click)="showCrudDialog(affiliation, 'Edit')">Edit</a>                
                        &nbsp;<a class="link-button" (click)="showCrudDialog(affiliation, 'Delete')">Delete</a>                
                    </template>
                </p-column>
                <p-column field="Name" header="Name">
                </p-column>
                <p-column field="Description" header="Description">
                </p-column>
                <p-column field="Summary" header="Summary">
                </p-column>
                <p-column field="Affiliation" header="Affiliation">
                </p-column>
                <p-column field="HabHygId" header="HabHyg">
                </p-column>
                <p-column field="planet.name" header="Planet" *ngIf="planet">
                </p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" style="float:left" label="Add" (click)="new()"></button>
                        &nbsp;<button type="button" pButton icon="fa-refresh" style="float:left" (click)="loadPlaces()" label="Refresh"></button>
                    </div>
                </footer>            
            </p-dataTable>
        </div>
    </div>
</div>