<div class="main-navigation">
    <div class="main-nav-title">
        <a  class="link-button" routerLink="/" routerLinkActive="active"><i><h1>Dirt Makers</h1></i></a>
    </div>
    <div class="all-nav">
        <div class="top-nav">
            <div class="main-nav-secondary">
                <div class="secondary-nav-item">
                    <a class="link-button" routerLink="/about" routerLinkActive="active">About</a>
                </div>
                <div class="secondary-nav-item">
                    <a class="link-button"  routerLink="news" routerLinkActive="active">News</a>
                </div>
                <div class="secondary-nav-item">
                    <a class="link-button"  routerLink="contact" routerLinkActive="active">Contact</a>
                </div>
                <div class="secondary-nav-item">
                    <a class="link-button" routerLink="/bcl" routerLinkActive="active">Admin</a>
                </div>
            </div>
        </div>
        <div class="bottom-nav">
            <div class="main-nav-primary">
                <div class="primary-nav-item">
                    <a class="link-button"  routerLink="/places" routerLinkActive="active">Places</a>
                </div>
                <div class="primary-nav-item">
                    <a class="link-button"  routerLink="/characters" routerLinkActive="active">Characters</a>
                </div>
                <div class="primary-nav-item">
                    <a class="link-button"  routerLink="/vessels" routerLinkActive="active">Vessels</a>
                </div>
                <div class="primary-nav-item">
                    <a class="link-button"  routerLink="/orgs" routerLinkActive="active">Organizations</a>
                </div>
                <div class="primary-nav-item">
                    <a class="link-button"  routerLink="/habhyg" routerLinkActive="active">Tools</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-6 breadcrumbs">
        insert -> breadcrumbs -> ...
    </div>
    <div class="ui-g-6 notifications">
        dammit april!
    </div>
</div>
<div class="body-content">
    <router-outlet></router-outlet>
</div>
