<p-menu #menu popup="popup" [model]="items"></p-menu>
<div class="ui-g main-navigation">
    <div class="ui-g-3 main-nav-title">
        <a  class="link-button" routerLink="/" routerLinkActive="active">Dirt Makers</a>
    </div>
    <div class="ui-g-9">
        <div class="ui-g">
            <div class="ui-g-11">
                <div class="primary-nav">
                    <div class="primary-nav-item">
                        <a md-button routerLink="/places" routerLinkActive="active" icon="fa-map-marker"><i class="fa fa-map-marker"></i>&nbsp;PLACES</a>
                    </div>
                    <div class="primary-nav-item">
                        <a md-button routerLink="/characters" routerLinkActive="active"><i class="fa fa-users"></i>&nbsp;CHARACTERS</a>
                    </div>
                    <div class="primary-nav-item">
                        <a md-button routerLink="/vessels" routerLinkActive="active"><i class="fa fa-rocket"></i>&nbsp;VESSELS</a>
                    </div>
                    <div class="primary-nav-item">
                        <a md-button routerLink="/orgs" routerLinkActive="active"><i class="fa fa-institution"></i>&nbsp;ORGANIZATIONS</a>
                    </div>
                    <div class="primary-nav-item">
                        <a md-button routerLink="/habhyg" routerLinkActive="active"><i class="fa fa-gears"></i>&nbsp;TOOLS</a>
                    </div>
                </div>
            </div>
            <div class="ui-g-1">
                <div class="secondary-nav">
                    <button type="button" pButton icon="fa fa-list" (click)="menu.toggle($event)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-g notification-bar">
    <div class="ui-g-6 breadcrumbs">
        insert -> breadcrumbs -> ...
    </div>
    <div class="ui-g-6 notifications">
        dammit april!
    </div>
</div>
<div class="body-content">
    <router-outlet></router-outlet>
</div>
