<div>
    <!--<div class="ui-g">
        <div class="ui-g-4">
            <span style="text-align:center;"><h3>Planets</h3></span>
        </div>
        <div class="ui-g-4">
            <span style="text-align:center;"><h3>Cities</h3></span>
        </div>
        <div class="ui-g-4">
            <span style="text-align:center;"><h3>Stations</h3></span>
        </div>
    </div>-->
    <div class="ui-g">
        <div class="ui-g-4">
            <p-dataTable [value]="planets">
                <p-column field="Name" header="Planets"></p-column>
            </p-dataTable>
        </div>
        <div class="ui-g-4">
            <p-dataTable [value]="cities">
                <p-column field="Name" header="Cities"></p-column>
            </p-dataTable>
        </div>
        <div class="ui-g-4">
            <p-dataTable [value]="stations">
                <p-column field="Name" header="Stations"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>