<div class="ui-g">
    <div class="ui-g-12">
        <h3>{{place.Name}} ({{place.Type}})</h3>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <div class="ui-g-12">
                <div class="ui-g-4">Affiliation:</div>
                <div class="ui-g-8">{{place.Affiliation}}</div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">Summary:</div>
                <div class="ui-g-8">{{place.Summary}}</div>
            </div>            
        </div>
        <div class="ui-g-8">
            {{place.Description}}
        </div>
    </div>
    <blockquote>
        <div>
        State yer name:{{star.CommonName}}
        <br/>
        State yer quest:{{star.ProperName}}
        <br/>
    </div>
    </blockquote>
</div>
